public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=@vueuse/*
public-hoist-pattern[]=@iconify/*
public-hoist-pattern[]=@vuepress/helper
public-hoist-pattern[]=@vuepress/plugin-git
public-hoist-pattern[]=@vuepress/plugin-markdown-chart
public-hoist-pattern[]=mark.js
public-hoist-pattern[]=minisearch
public-hoist-pattern[]=hash-wasm
