/*颜色*/
:root {

    /**
     * 主题色
     * -------------------------------------------------------------------------- */

    --vp-c-brand-1: #8cccd5; /* 链接颜色、强调色 */
    --vp-c-brand-2: #6aa1b7; /* 链接、按钮 hover 颜色 */
    --vp-c-brand-3: #5086a1; /* 背景色、边框色 */
    --vp-c-brand-soft: rgba(131, 208, 218, 0.314); /* 辅助色 */

    /**
     * 文本颜色
     * -------------------------------------------------------------------------- */

    --vp-c-text-1: rgba(255, 255, 245, 0.86); /* 主要文本 */
    --vp-c-text-2: rgba(235, 235, 245, 0.6); /* 次要文本 */
    --vp-c-text-3: rgba(235, 235, 245, 0.38); /* 辅助文本 */

    /**
     * 背景色
     * -------------------------------------------------------------------------- */

    --vp-c-bg: #1b1b1f; /* 主体背景 */
    --vp-nav-bg-color: #1b1b1f; /* 导航栏背景 */
    --vp-nav-screen-bg-color: #1b1b1f; /* 移动端导航栏 */
    --vp-local-nav-bg-color: #1b1b1f; /* 页面内导航栏 */
    --vp-sidebar-bg-color: #161618; /* 侧边栏背景 */
    --vp-code-block-bg: #202127; /* 代码块背景 */
    --main-card-background: rgba(27, 28, 32, 0.85);
    --main-card-border: #3d3d3f;
    --main-border-shadow: #00000050;
    --about-card-hover-bg: rgba(71, 224, 84, 0.8);
    --home-action-bnt-bg: rgb(50, 54, 63);
    --about-me-skill-item-bg: #15191c;


    /*卡片背景*/

    .about-me-card-bg {
        padding: 1rem;
        border-radius: 12px;
        background-color: var(--main-card-background);
        border: 1px solid var(--main-card-border);
        box-shadow: 0 8px 12px -4px var(--main-border-shadow);
        overflow: hidden;
    }

    /*卡片文字 小号*/

    .about-me-card-title-normal {
        color: var(--vp-c-text-2);
        font-size: 13px;
        margin-bottom: 10px;
    }

    /*卡片文字 大号*/

    .about-me-card-text-big {
        color: var(--vp-c-text-1);
        margin: 5px 0;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        @media screen and (max-width: 770px) {
            font-size: 24px;
            margin: 7px 0;
        }
    }

    /*卡片文字 暗色*/

    .about-me-card-text-soft {
        color: var(--vp-c-text-2);
    }

    /*卡片文字 彩色*/

    .about-me-card-text-color {
        background: var(--vp-bg-home-hero-name, linear-gradient(315deg, var(--vp-c-purple-1) 10%, var(--vp-c-brand-2) 75%, var(--vp-c-brand-2) 100%));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}